<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wisc.cs.cs638.messagesearch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        
        <activity android:name=".view.SearchActivity">
        </activity>
        
        
        <activity android:name=".view.RecentSearchActivity">
        </activity>
        
        
        
        <activity android:name=".view.AccountsActivity"
            android:label="@string/accounts" >  
        </activity>
        
        
        <activity android:name=".view.ContactsActivity"
            android:label="@string/contacts" >
        </activity>
        
        
        
        <activity android:name=".view.StarredMessagesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".view.SearchResultActivity"
            android:label="@string/result">
        </activity>
        
        
        <activity android:name=".view.ThreadActivity"
            android:label="@string/result">
        </activity>
        
        
        
    </application>

</manifest>